# App Settings
DEBUG=False
APP_NAME="E-Commerce Data Generator"

# Simulation Settings
DEFAULT_SIMULATION_INTERVAL_SECONDS=5

# Database Credentials
POSTGRES_DB=ecommerce_db
POSTGRES_USER=app_admin
POSTGRES_PASSWORD=pass_addhim_port
POSTGRES_HOST=localhost
POSTGRES_PORT=5430

# ClickHouse Credentials
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=pass_adwin_road
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123

CLICKHOUSE_TABLE_HOURLY_KPIS=dwh.agg_hourly_merchant_store_kpis
CLICKHOUSE_TABLE_DAILY_SALES=dwh.agg_daily_product_sales
CLICKHOUSE_TABLE_ORDERS=dwh.kafka_pg_app_orders
CLICKHOUSE_TABLE_PRODUCTS=dwh.kafka_pg_app_products
CLICKHOUSE_TABLE_STORES=dwh.kafka_pg_app_stores
