# App Settings
DEBUG=False
APP_NAME="E-Commerce Data Generator"

# Simulation Settings
DEFAULT_SIMULATION_INTERVAL_SECONDS=5

# Database Credentials
POSTGRES_DB=ecommerce_db
POSTGRES_USER=app_admin
POSTGRES_PASSWORD=pass_addhim_port
POSTGRES_HOST=localhost
POSTGRES_PORT=5430

# ClickHouse Credentials
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=pass_adwin_road
